%mont-400{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%mont-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}
%mont-700{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
%oswald-300{
  font-family: 'Oswald-Light', sans-serif;
  font-weight: 300;
}
%oswald-400{
  font-family: 'Oswald-Regular', sans-serif;
  font-weight: 400;
}

%steppe-400{
  font-family: 'Steppe-Regular', sans-serif;
  font-weight: 400;
}